body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the body and html take up the full height of the viewport */
}

a {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

.landing-page {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    text-align: center;
}

.landing-page h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.button-awal {
    background-color: #007BFF;
    box-shadow: 
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 10px 20px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    transition: transform 0.1s ease;
}

.button-awal:hover {
    transform: scale(1.1);
}