* {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0 20px 20px 20px;
}
a {
    color: black;
}

.div-edit-delete {
    background-color: red;
    border-radius: 10px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 65px;
}



.tryout-container {
    background-color: blue;
    border-radius: 10px 10px;
    box-shadow: 10px black;
    width: 300px;
}

.p-edit-delete {
    text-align: center;
}

#add {
    display: block;
    background-color: beige;
}

#div-deskripsi-tryout {
    background-color: yellow;
    border-radius: 0 0 10px 10px;
    padding: 0 0 0 10px;
}

#div-judul-tryout {
    background-color: aqua;
    border-radius: 10px 10px 0 0;
}

#edit {
    margin-right: 10px;
}

#h2-judul-tryout {
    margin: 0 0 0 10px;
}

#main-container {
    display: inline-flex;
    height: auto;
    margin: 20px 20px 0 0;
}

#page-container {
    background-color: black;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
}