* {
    text-decoration: none;
}

a {
    color: black;
}

body {
    height: 100%;
    margin: 0;
    padding: 0 20px 20px 20px;
}

footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.div-edit-delete {
    background-color: red;
    border-radius: 10px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 65px;
}

.footer-icon {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.footer-icon a {
    transition: transform 0.1s ease;
}

.footer-icon a:hover {
    transform: scale(1.2);
}

.tryout-container {
    border-radius: 10px 10px;
    background-color: lightgray;
    width: 300px;
}

.p-edit-delete {
    text-align: center;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#add {
    display: block;
    background-color: beige;
}

#div-deskripsi-tryout {
    border-radius: 0 0 10px 10px;
    padding: 0 0 0 10px;
}

#div-judul-tryout {
    border-radius: 10px 10px 0 0;
}

#edit {
    margin-right: 10px;
}

#h2-judul-tryout {
    margin: 0 0 0 10px;
}

#main-container {
    display: inline-flex;
    height: auto;
    margin: 20px 20px 0 0;
}

#page-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
}